<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>Pet Sitter Microservices Demo</head>

<body>

	<h1>Pet Sitter Microservices Demo - Web service that accesses both microservices</h1>
	<h3>Overview</h3>
	<ul>
		<li>This is a simple web application that accesses two microservices to extract data</li>
		<li>All the information is fetched using a RESTful interfaces to microservices.</li>
	</ul>

</body>
</html>
